* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 30px #ccc;
    text-align: center;
    transition: box-shadow 1s;
}

.container:hover .box {
    box-shadow: 0 0 200px #6667ab;
}

.button {
    margin: 0 20px;
    font-size: 35px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .5s;
}

.button:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

.line {
    border-bottom: 3px #333 solid;
    margin: 50px 0;
}

#text {
    font-size: 18px;
}

.text-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

a img {
    width: 500px;
}

a:hover img {
    box-shadow: 0 0 100px #ccc;
}